@import "../variables";

.projects__item {
  margin-top: 150px;
  &:first-child {
    margin-top: 0;
  }
  img {
    height: auto;
    width: 100%;
  }
  &_information {
    display: flex;
    justify-content: space-between;
    margin-top: 28px;

    &-list {
      font-weight: 400;
      margin-left: 15px;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        padding-left: 20px;
        border-left: 1px solid $mainColor;
      }
    }
    &-item {
      line-height: 18px;
      margin-top: 12px;
      text-transform: uppercase;
      &:first-child {
        margin-top: 0;
      }
      span {
        font-weight: 300;
        margin-left: 8px;
      }
    }
    &-btn {
      display: display!important;;
    }
  }
}

@media screen and (max-width: 1000px) {
  .projects__item {
    &_information {
      &-list {
        font-size: 14px;
        &:last-child {
          padding-left: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .projects__item {
    &_information {
      flex-direction: column;
      align-items: center;
      margin-top: 32px;
      &-item {
        font-size: 20px;
        display: none;
        &-title {
          font-weight: 500;
          display: block;
        }
      }
    }
  }
}
