@import "../variables";

.projects {
  &__container {
    padding-bottom: 150px;
  }
}


@media screen and (max-width: 1000px) {
  .projects__item {
    &_information {
      &-list {
        font-size: 14px;
        &:last-child {
          padding-left: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .projects__item {
    &_information {
      &-btn {
        display: block !important;
        margin: 0 auto;
        margin-top: 32px;
      }
    }
  }
}
