---
import '../styles/components/Footer.scss'
import settings from "../data/settings.json";
---

<footer class="footer">
  <div class="footer__container">
    <div class="footer__socials">
      <h3 class="footer__socials_title">follow us</h3>
      <div class="footer__socials_icons">
        {
          settings.footerIcons.map((icon) => (
            <a href={icon.href} class="footer__socials_icon">
                <img src={icon.src} alt={icon.alt}/>
            </a>
          ))
        }
      </div>
    </div>
    <form class="footer__form">
      <h3 class="footer__form_title">send us a message</h3>
      <label class="footer__form_label">
        <input type="text" placeholder="your email" />
      </label>
      <label class="footer__form_label">
        <input class="footer__form_label--input-with-button"type="text" placeholder="your message" />
        <button type="button">send</button>
      </label>
      <p class="footer__form_copyright">
        Via Giuseppe Mazzini, 9 20123 Milano MI
      </p>
    </form>
  </div>
</footer>
