---
import HamburgerMenu from "./HamburgerMenu.astro";
import LanguageDropdown from "./LanguageDropdown.astro";
import { localizePath } from "astro-i18next";
import i18next, { t } from "i18next";

import "../styles/components/Header.scss";
import {navItems} from '../data/settings';
const {active} = Astro.props;
---

<header class="header">
  <h1 class="header__logo">MONICS</h1>
  <HamburgerMenu />
  <nav class="nav__wrapper">
    <ul class="header__nav">
      {
        navItems.map((item) => (
          <li class={`header__nav_item ${item.title == active ? 'active' : '' }`}>
            <a href={localizePath(item.href)}>{t(`header.${item.title}`)}</a>
          </li>
        ))
      }
      <LanguageDropdown/>
    </ul>
  </nav>
</header>
