---
import { localizePath } from "astro-i18next";
import i18next from "i18next";

const currentLanguage = i18next.language;
const { pathname } = Astro.url;

const languages = [
  { languageCode: "en", value: "EN" },
  { languageCode: "it", value: "IT" },
  { languageCode: "ua", value: "UA" },
];
---
<li class="header__nav_item language">
  <p class="language__current" lang="en">{currentLanguage}</p>
  <ul class="language__body">
    {
      languages.map((language) => {
        const { languageCode, value } = language;
        let pathValue = localizePath(pathname, languageCode);

        if (languageCode !== currentLanguage) {
          return (
            <li class="language__body_item" id={pathValue}>
              {value}
            </li>
          );
        }
      })
    }
  </ul>
</li>

<script>
  const languageEl = document.querySelector(".language") as HTMLLIElement;

  languageEl?.addEventListener("click", (e: Event) => {
    if (e.target instanceof HTMLElement) {
      languageEl.classList.toggle("open");
      if(e.target.classList.contains("language__body_item")) {
        window.location = "http://localhost:3000" + e.target.id;
      }
    }
  });
</script>
