---
import { changeLanguage } from "i18next";
import Layout from "../../layouts/Layout.astro";
import ProjectCover from "../../components/ProjectCover.astro";
import "../../styles/pages/Projects.scss";
import { projects } from "../../data/projects";

changeLanguage("en");
---

<Layout title="Projects" active="projects">
  <main class="page projects">
    <section class="projects__container">
      {
        projects.map((project) => (
          <ProjectCover project={project}/>
        ))
      }
    </section>
  </main>
</Layout>
